* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.full-page {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.results-bar {
    color: white;
    font-size: 12vw;
    font-family:'Courier New', Courier, monospace;
    text-align: right;
    padding-top: 5%;
    padding-right: 5%;
    flex: 0 0 10%;
}

.buttons {
    flex: 1;  /* Make the buttons section take the remaining space */
    display: flex;
    flex-direction: column;
}

.button-row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-button {
    background-color: #d8d9db;
    color: black;
    height: 100%;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}

.double {
    width: 49.7%;
}

.triple {
    width: 74.8%;
}

.calc-button:last-child {
    background-color: #df974c;
    color: white;
}
  
.calc-button:last-child:hover {
background-color: #dfb07e;
}

.calc-button:last-child:active {
background-color: #dd8d37;
}


.button-row:last-child {
    padding-bottom: 0;
}